---
import PageTitle from '@/containers/PageTitle.astro';
import SocialInfo from '@/containers/contacts/SocialInfo.astro';
import Main from '@/layouts/Main.astro';

import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Main>
  <PageTitle title={t('contacts.title')} subtitle={t('contacts.subtitle')} />

  <SocialInfo />
</Main>
