---
import Btn from '@/components/Btn.astro';
import Hero from '@/containers/homepage/Hero.astro';
import Overview from '@/containers/homepage/Overview.astro';
import Main from '@/layouts/Main.astro';
---

<Main>
  <Hero />

  <Overview />

  <Btn label="My projects" href="/projects" />
</Main>
