---
import PageTitle from '@/containers/PageTitle.astro';
import ProjectsList from '@/containers/projects/ProjectsList.astro';
import Main from '@/layouts/Main.astro';

import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const data = await Astro.glob<{
  title: string;
  subtitle: string;
}>('./projects/*.md');
---

<Main>
  <PageTitle title={t('projects.title')} subtitle={t('projects.subtitle')} />

  <ProjectsList data={data} />
</Main>
