---
import Btn from '@/components/Btn.astro';
import Hero from '@/containers/homepage/Hero.astro';
import Overview from '@/containers/homepage/Overview.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Main from '@/layouts/Main.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Main>
  <Hero />

  <Overview />

  <Btn label={t('homepage.projects.label')} href="/projects" />
</Main>
