---
import { Button } from '@/components/ui/button';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Base from '@/layouts/Base.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Base>
  <section class="flex h-screen w-full items-center justify-center">
    <div class="px-4 text-center lg:px-6">
      <h1
        class="mb-4 text-7xl font-extrabold tracking-tight text-primary lg:text-9xl"
      >
        404
      </h1>
      <p
        class="mb-4 text-3xl font-bold tracking-tight text-secondary-foreground md:text-4xl"
      >
        {t('notFound.message')}
      </p>
      <p class="mb-4 text-lg font-light text-muted-foreground">
        {t('notFound.description')}
      </p>
      <a href={`/${lang}`}>
        <Button variant="default"> {t('notFound.back')} </Button>
      </a>
    </div>
  </section>
</Base>
