---
import Main from '@/layouts/Main.astro';
---

<Main>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate assumenda
  laborum, doloremque ipsa quia commodi explicabo magnam itaque, rem alias ipsam
  ad architecto expedita autem exercitationem? Ratione nam molestias quae!
</Main>
