---
import Title from '@/components/Title.astro';
import Main from '@/layouts/Main.astro';

import ProjectsList from '@/containers/projects/ProjectsList.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const data = await Astro.glob<{
  title: string;
  description: string;
}>('./projects/*.md');
---

<Main>
  <div class="mt-2 pb-8 pt-2 sm:ml-32">
    <Title
      className="text-center sm:text-start"
      title={t('projects.title')}
      subtitle={t('projects.subtitle')}
    />
  </div>

  <ProjectsList data={data} />
</Main>
